@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Montserrat', sans-serif;
    color: #272341;
}

h1 {
    font-size: 3.5rem;
    color: #272341;
}

h2 {
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.hero {
    padding: 1rem 2.5rem;
    width: 95%;
    max-width: 1200px;
}

a {
    display: inline-block;
    color: #00cdac;
    font-weight: 700;
    text-decoration: none;
    margin-top: 1.5rem;
    border: 2px solid #00cdac;
    width: 140px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    transition: all .6s cubic-bezier(.19,1,.22,1);

}

.hero span {
    background-image: linear-gradient(135deg,#02aab0,#00cdac);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


a:hover {
    width: 190px;
    cursor: pointer;
  }

/* About */
#about {
    background-image: linear-gradient(135deg,#02aab0,#00cdac);
    transition: all .6s cubic-bezier(.19,1,.22,1);
}

.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(135deg,#02aab0,#00cdac);
    padding-top: 5%;
    padding-bottom: 10%;
    min-height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
    width: 95%;
    max-width: 1200px;
    margin-top: 5%;
}

.row a {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.avatar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.img1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://avatars.githubusercontent.com/u/12107579?s=400&u=b177780fbb45de2ca14d1fefc7cffdc3a09c8d9e&v=4);
    
}

.profile {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile p {
    color: #FFFFFF;
}

/* Projects */

.container-projects{
    padding-top: 5%;
    padding-bottom: 8%;
}
.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h2.section-title {
    color: #272341;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
}

.description h3 {
    font-size: 1.5rem;
    margin: 1.2rem 0;
    color: #272341;
}

.description h4 {
    color: #272341;
    margin-top: 1rem;
    font-size: 16px;
}

.badges {   
    display: flex;
    padding: .9rem 0rem;
}
.badges span  {
    border-radius: 50px;
    margin-right: 1rem;
    font-size: 11px;
    font-weight: 600;
    color: #23302b;
}


/*Design */
span.figma {
    background-color: #F73163;
    color: #FFFFFF;
    padding: 0 1rem;
}

.invision {
    border-bottom: solid 1px #F73163;
    color: #F73163;
}
/* End Design */

a.btn-primary {
    background-image: linear-gradient(135deg,#02aab0,#00cdac);
}
a.btn-primary-outline {
    border: 1px solid #00cdac;
    background-image: linear-gradient(135deg,#02aab0,#00cdac);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.project-img   {
    width: 50%;
    border-radius: 10px;
}

.project-img a, .project-img img {
    width: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.project-img a:hover{  
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

/* Contact */

.container-contact {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(135deg,#02aab0,#00cdac);
}

.container-contact p{
    padding: 2rem 1rem  ;
    
}

/*Footer */
.container-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333333;
}
.container-footer h3 {
    text-align: center;
}
.container-footer a {   
    width: 30px;
    border: initial;
}
.container-footer img {
    border-radius: 50%;
}

.container-footer img:hover {
    background-color: #00cdac;
    border-radius: 50%;
}

.social-media {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    width: 95%;
    max-width: 1200px;
}


.social-media a{
    margin: 0 1.5rem;
}


/*
@keyframes moveLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveLeftButton {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}




@keyframes moveUp {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

*/

/* Responsive */
@media only screen and (max-width: 860px) {
    h1 {
        font-size: 2.1rem;
    }
    h2 {
        font-size: 2rem;
    }
    .hero {
        width: 90%;
        padding: 1rem .5rem;
    }
    .row {
        width: 100%;
    }
    .avatar {
        width: 90%;
        padding-bottom: 2rem;
    }
    .profile {
        width: 90%;
        text-align: justify;
    }
    .img1 {
        width: 200px;
        height: 200px;
    }
    .container {
        width: 100%;
    }
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .description {
        width: 90%;
        padding: 2rem 0rem;
        text-align: justify;
    }
    .project-img {
        width: 90%;
    }
    .badges {
        flex-wrap: wrap;
    }
}