#principal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
.media {
    background: darkcyan;
    width: 210px;
    height: 118px;
}

.media img {
    width: 210px;
    height: 118px;   
}

.media span {
    display: flex;
    flex-direction: column;
    color: #909090;
    font-size: 16px;
}
#videosection {
    background: palegreen;
    border: solid 2px crimson;
    display: flex;
    overflow: scroll;
}